h1.text-center{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
}
h2.text-center{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
h3.text-center{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: black;
}
/* VIDEO BACKGROUND CSS */
.fullscreen-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;
    overflow: hidden;
}
.fullscreen-bg__video {
    /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.panel panel-default{
    opacity: 0.6;
}